.home {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_title {
    width: 100%;
    margin: 48px 0 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 64px;
}

.home_nav {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.home_link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.home_link:hover {
    font-weight: bold;
}
